@model IEnumerable<Eregister.StudentSubject>

@{
    ViewBag.Title = "Index";
}


<h2 style="text-align:center">Przedmioty ucznia</h2>


<p>
    @Html.ActionLink("Stwórz nowy", "Create")
</p>
<div class="box">
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Pesel</th>
                    <th>Przedmiot</th>
                </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Pesel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject.Name)
        </td>
        <td>
            @Html.ActionLink("Edycja", "Edit", new { id = item.StudentSubjectID }) |
            @Html.ActionLink("Szczegóły", "Details", new { id = item.StudentSubjectID }) |
            @Html.ActionLink("Usuń", "Delete", new { id = item.StudentSubjectID })
        </td>
    </tr>
}
            </tbody>
        </table>
    </div>
</div>
