@model Eregister.StudentParent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentParent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parent.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Pesel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Pesel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentParentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
