@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
        <div class="pull-left">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @{
                        // ApplicationUser user = context.Users.Where(u => u.UserName.Equals(userName, StringComparison.CurrentCultureIgnoreCase)).FirstOrDefault();
                        var imgUrl = Url.Content("~/Content/images/profile/" + User.Identity.GetUserName() + ".png") + "?time=" + DateTime.Now.ToString();
                    }
                    <img src="@imgUrl" height="50" width="50" />
                </li>
                <li>
                    @*@Html.ActionLink("Witaj " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                    @Html.ActionLink("Witaj " + (ViewData["FullName"]) + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
            </ul>
        </div>
    }
}
else
 
{     
                           <div class="pull-left">
                                <ul class="nav navbar-nav navbar-right">
                                    <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                                    <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                </ul>
                            </div>                       


}
                                    @*<div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
            </div>*@
