@model IEnumerable<Eregister.TeacherSubject>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Nauczyciele i Przedmioty</h2>

<p>
    @Html.ActionLink("Stwórz nowy", "Create2")
</p>

<div class="box">
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Przedmiot</th>
                    <th>Nauczyciel</th>
                    <th>Email nauczyciela</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Teacher.ApplicationUser.NameSurname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Teacher.ApplicationUser.Email)
                        </td>
                        <td>
                            @Html.ActionLink("Edycja", "Edit", new { id = item.TeacherSubjectID }) |
                            @Html.ActionLink("Szczegóły", "Details", new { id = item.TeacherSubjectID }) |
                            @Html.ActionLink("Usuń", "Delete", new { id = item.TeacherSubjectID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>