@{
    ViewBag.Title = "Home Page";
}
    @if (ViewBag.ResultMessage != null)
    {
        <div>
           <h2>Wiadomosc: </h2>
              @ViewBag.ResultMessage
        </div>
    }
    @if (ViewBag.Alert != null)
    {
        <div>
           <h2>Wiadomosc: </h2>
               @ViewBag.Alert
        </div>
    }

<div class="jumbotron">
    <h1>ERegister</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

@if (User.IsInRole("Candidate"))
{
    //todo

    //<input type = "button" value = "Create" onclick = "location.href='@Url.Action("AuthorizeToStudent", "Home")'"/>
    @*@Html.ActionLink("UWIERZYTELNIJ", "AuthorizeToStudent")*@

    <h2>Potwierdź swoją tożsamość ucznia. </h2>
    <hr />
    using (Html.BeginForm("AuthorizeFromCandidate", "Home"))
    {
        @Html.AntiForgeryToken()
        <p>
            Wpisz kod : @Html.TextBox("code")
            Podaj pesel: @Html.TextBox("pesel")
            <input type="submit" value="Uwierzytelnij!" />
        </p>
    }


}
    </div>


    <div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


@{
    ViewBag.ResultMessage = null;
    ViewBag.Alert = null;
}