@model IEnumerable<Eregister.Subject>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Przedmioty</h2>

<p>
    @Html.ActionLink("Stwórz nowy", "Create")
</p>

<div class="box">
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Przedmiot</th>
                    <th>Poziom</th>
                    <th>Opis</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Level)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Edycja", "Edit", new { id = item.SubjectID }) |
                            @Html.ActionLink("Szczegóły", "Details", new { id = item.SubjectID }) |
                            @Html.ActionLink("Usuń", "Delete", new { id = item.SubjectID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>