@*@*@*@model DBModels.User

@*@{
        ViewBag.Title = "ImageUpload";
    }*@

<h2>Twoje konto</h2>


@*TO DO: zmienic na wyczytwanie z modelu*@
<div>
    <dl class="dl-horizontal">
        <dt>
            E-mail (zmień hasło)
        </dt>

        <dd>
            Hasło (zmień hasło)
        </dd>

        <dt>
            Konto stworzono:
        </dt>

        <dt>
            Ostatni login:
        </dt>
        
        <dt>
            Zdjęcie:
        </dt>

    </dl>
</div>



@*<div>
    <h4>Edytuj profil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

    </dl>
</div>*@


<div class="container">
    <div class="col-md-4">
        <input type="file" id="SelectImage" /><br />
        <a href="#" class="btn btn-sm btn-danger" onclick="UploadImage()">Upload</a>
    </div>

    <div class="col-md-4 thumbnail" id="UploadedImage"></div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>





<script>
    var UploadImage = function () {
        var file = $("#SelectImage").get(0).files;
        var data = new FormData;
        data.append("ImageFile", file[0]);
        $.ajax({
            type: "POST",
            url: "/UserProfile/ImageUpload",
            data: data,
            contentType: false,
            processData: false,
            success: function (imgID) {
                $("#UploadedImage").append('<img src="/UserProfile/DisplayingImage?imgID=' + imgID + '"class=img-responsive thumbnail"/>');
            }
        })
    }

</script>*@*@*@