@model Eregister.Models.StudentGradeViewModel

@{
    ViewBag.Title = "EditGrade";
}

<h2>EditGrade</h2>
<br>
            <b>Imię i nazwisko:</b>
<br>
                @Html.DisplayFor(model => model.UserName)
<br><br>
            <b>Średnia ocen ucznia:</b>
<br>
                @Html.DisplayFor(model => model.Grade)
<br><br>
            <b>Ocena końcowa:</b>
<br>
                @Html.ActionLink("niedostateczny", "AddEndGrade", new { id = Model.UserId, grade = 1, subjectId = Model.SubjectId })
<br> 
                @Html.ActionLink("dopuszczający", "AddEndGrade", new { id = Model.UserId, grade = 2, subjectId = Model.SubjectId }) 
<br>
                @Html.ActionLink("dostateczny", "AddEndGrade", new { id = Model.UserId, grade = 3, subjectId = Model.SubjectId }) 
<br>
                @Html.ActionLink("dobry", "AddEndGrade", new { id = Model.UserId, grade = 4, subjectId = Model.SubjectId }) 
<br>
                @Html.ActionLink("bardzo dobry", "AddEndGrade", new { id = Model.UserId, grade = 5, subjectId = Model.SubjectId }) 
<br>
                @Html.ActionLink("celujący", "AddEndGrade", new { id = Model.UserId, grade = 6, subjectId = Model.SubjectId })





