@model IList<Models.CommentViewModel>
@using Eregister.Controllers
@using Microsoft.AspNet.Identity

@foreach (var childReply in Model)
{
    if (childReply != null)
    {
        BlogController blgCtrl = new BlogController();
        var crDetails = blgCtrl.ReplyDetails(childReply.Id);
        var likes = blgCtrl.LikeDislikeCount("replylike", childReply.Id);
        var dislikes = blgCtrl.LikeDislikeCount("replydislike", childReply.Id);
      

        <div class="childReply" id="@crDetails[4]" style="background-color: white;padding: 10px;margin-left: 25px;">
            <div class="childReplyCont" id="@crDetails[5]">
                <table class="commentControl" id="@crDetails[15]">
                </table>
                <div class="userImage"><img src="@Url.Action("UserCommentPhotos", "UserProfile", new { id = crDetails[1] } )" height="50" width="50" /></div>
                <div class="commentUserName"><strong>@crDetails[0]</strong>&nbsp;&nbsp;<span class="cmntTime">-- @crDetails[2]</span></div>
                <div class="commentDate">@crDetails[3]</div>

                <div class="commentExp" id="@crDetails[7]">
                    <div class="commentBody">@Html.Raw(childReply.Body)</div>
                    @if (!blgCtrl.ReplyDeleteCheck(childReply.Id))
                    {
                        <div class="replySubMenu">
                            <a class="likecount" style="color:green;">@likes</a>
                            <a href="@Url.Action("UpdateReplyLike", "Blog", new { replyid = childReply.Id,  username = User.Identity.GetUserName(), likeordislike = "like",sortorder = ViewBag.CurrentSort })"><i class="glyphicon glyphicon-thumbs-up"></i></a>
                            <a href="@Url.Action("UpdateReplyLike", "Blog", new { replyid = childReply.Id,  username = User.Identity.GetUserName(), likeordislike = "dislike",sortorder = ViewBag.CurrentSort })"><i class="glyphicon glyphicon-thumbs-down"></i></a>
                            
                            <a class="likecount" style="color:red;">@dislikes</a>
                            <a style="cursor:pointer;" class="comReplyParent" id="@crDetails[14]">Odpowiedz</a>
                            @if (childReply.UserName == User.Identity.GetUserName())
                            {
                                <table class="commentMenu" id="@crDetails[16]">
                                    <tr>                                     
                                        <td><a href="@Url.Action("EditReply", "Blog", new { replyid = childReply.Id })" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                        <td><a href="@Url.Action("DeleteReply", "Blog", new { replyid = childReply.Id })" title="Delete"><i class="glyphicon glyphicon-remove"></i></a></td>
                                    </tr>
                                </table>
                            }
                        </div>
                        if (Request.IsAuthenticated)
                        {
                            <table class="newComment collapseComment">
                                <tr>
                                    <td style="width:50px;vertical-align: top;"><div class="comImg"><img src="@Url.Action("UserPhotos", "UserProfile" )" height="50" width="50" /></div></td>

                                    <td style="vertical-align:middle; min-height:40px;" class="comText" id="@crDetails[12]">
                                        @using (Html.BeginForm("NewChildReply", "Blog", FormMethod.Post, new { @class = "comTextdivParent", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <textarea name="replyBody" id="@crDetails[13]"></textarea>
                                            <script>
                                            CKEDITOR.replace('@crDetails[13]',
                                                {
                                                   // customConfig: '/Scripts/ckEditorConfig1.js'
                                                    customConfig: '/Scripts/ckEditorConfigComments.js'
                                                });
                                            </script>
                                            <div class="comTextSub">
                                                <input type="hidden" value="@childReply.Id" name="preplyid" id="preplyid" />
                                                <input type="hidden" value="@User.Identity.GetUserName()" name="comUserName" id="comUserName" />
                                                <input class="comTextBtn" type="submit" value="&#x27a5;" />
                                            </div>
                                        }
                                        @using (Html.BeginForm("NewChildReply", "Blog", FormMethod.Post, new { @class = "comTextareaParent", role = "form" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <textarea name="replyBody" class="comTextarea" maxlength="5000" placeholder="Dołącz do dyskusji..."></textarea>
                                            <input type="hidden" value="@childReply.Id" name="preplyid" id="preplyid" />
                                            <input type="hidden" value="@User.Identity.GetUserName()" name="comUserName" id="comUserName" />
                                            <div class="comTextSub">
                                                <input class="comTextBtn" type="submit" value="&#x27a5;" />
                                            </div>
                                        }
                                    </td>
                                </tr>
                            </table>
                        }
                    }

                </div>
            </div>
            <div class="commentreplies" id="@crDetails[6]">
                @if (childReply.ChildReplies != null)
                {
                    if (childReply.ChildReplies.Count > 0)
                    { Html.RenderPartial("ChildReplies", childReply.ChildReplies); }
                }
            </div>
        </div>
    }
}


