@model Models.CommentViewModel
@using Eregister.Controllers
@using Microsoft.AspNet.Identity
@{
    BlogController blgCtrl = new BlogController();
    var parentReplies = Model.Comment.Replies;
    if (parentReplies != null)
    {
        foreach (var pReply in parentReplies)
        {
            if (pReply.ParentReplyId == null)
            {
                var prDetails = blgCtrl.ReplyDetails(pReply.Id);
                var likes = blgCtrl.LikeDislikeCount("replylike", pReply.Id);
                var dislikes = blgCtrl.LikeDislikeCount("replydislike", pReply.Id);

                <div class="parentReply" id="@prDetails[4]">
                    <div class="mainreply" id="@prDetails[5]" style="background-color: white;padding: 10px;margin-bottom: 10px;">
                        <table class="commentControl" id="@prDetails[15]"></table>
                        <div class="userImage"><img src="@Url.Action("UserCommentPhotos", "UserProfile", new { id = prDetails[1] } )" height="50" width="50" /></div>
                        <div class="commentUserName"><strong>@prDetails[0]</strong>&nbsp;&nbsp;<span class="cmntTime">~ @prDetails[2]</span></div>
                        <div class="commentDate">@prDetails[3]</div>

                        <div class="commentExp" id="@prDetails[7]">
                            <div class="commentBody">@Html.Raw(pReply.Body)</div>

                            @if (!blgCtrl.ReplyDeleteCheck(pReply.Id))
                            {
                                <div class="replySubMenu">
                                    <a class="likecount" style="color:green;">@likes</a>
                                    <a href="@Url.Action("UpdateReplyLike", "Blog", new { replyid = pReply.Id,username = User.Identity.GetUserName(), likeordislike = "like",sortorder = ViewBag.CurrentSort })"><i class="glyphicon glyphicon-thumbs-up"></i></a>
                                    <a href="@Url.Action("UpdateReplyLike", "Blog", new { replyid = pReply.Id,username = User.Identity.GetUserName(), likeordislike = "dislike",sortorder = ViewBag.CurrentSort })"><i class="glyphicon glyphicon-thumbs-down"></i></a>
                                    <a class="likecount" style="color:red;">@dislikes</a>
                                    <a style="cursor:pointer;" class="comReplyParent" id="@prDetails[14]">Odpowiedz</a>

                                    @if (pReply.UserName == User.Identity.GetUserName())
                                    {
                                        <table class="commentMenu" id="@prDetails[16]">
                                            <tr>
                                                <td><a href="@Url.Action("EditReply", "Blog", new { replyid = pReply.Id })" title="Edit"><img src="@Url.Content("~/Content/images/post/edit.png")" alt="edit" /></a></td>
                                                <td><a href="@Url.Action("DeleteReply", "Blog", new { replyid = pReply.Id })" title="Delete"><img src="@Url.Content("~/Content/images/post/delete.png")" alt="delete" /></a></td>
                                            </tr>
                                        </table>
                                    }
                                </div>

                                //if (Request.IsAuthenticated)
                                if (!String.IsNullOrEmpty(User.Identity.GetUserName()))
                                {
                                    <table class="newComment collapseComment">
                                        <tr>
                                            <td style="width:50px;vertical-align: top;"><div class="comImg"><img src="@Url.Action("UserCommentPhotos", "UserProfile", new { id = prDetails[1] } )" height="50" width="50" /></div></td>

                                            <td style="vertical-align:middle; min-height:40px;" class="comText" id="@prDetails[12]">
                                                @using (Html.BeginForm("NewChildReply", "Blog", FormMethod.Post, new { @class = "comTextdivParent", role = "form" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <textarea name="replyBody" id="@prDetails[13]"></textarea>
                                                    <script>
                                                        CKEDITOR.replace('@prDetails[13]',
                                                            {
                                                                customConfig: '/Scripts/ckEditorConfigComments.js'
                                                            });
                                                    </script>
                                                    <div class="comTextSub">
                                                        <input type="hidden" value="@pReply.Id" name="preplyid" id="preplyid" />
                                                        <input type="hidden" value="@User.Identity.GetUserName()" name="comUserName" id="comUserName" />
                                                        <input class="comTextBtn" type="submit" value="&#x27a5;" />
                                                    </div>
                                                }
                                                @using (Html.BeginForm("NewChildReply", "Blog", FormMethod.Post, new { @class = "comTextareaParent", role = "form" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <textarea name="replyBody" class="comTextarea" maxlength="5000" placeholder="Dołącz do dyskusji..."></textarea>
                                                    <input type="hidden" value="@pReply.Id" name="preplyid" id="preplyid" />
                                                    <input type="hidden" value="@User.Identity.GetUserName()" name="comUserName" id="comUserName" />
                                                    <div class="comTextSub">
                                                        <input class="comTextBtn" type="submit" value="&#x27a5;" />
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                }
                            }

                        </div>
                    </div>
                    <div class="commentreplies" id="@prDetails[6]">
                        @{
                            Model.ChildReplies = blgCtrl.GetChildReplies(pReply);
                            Html.RenderPartial("ChildReplies", Model.ChildReplies);
                        }
                    </div>
                </div>
            }
        }
    }
}